$white: #fff;
$white-opacity: rgba(255,255,255, 0.8);
$black: #000;
$button_red: #ce190d;
$image_slider: #dbe9ac;
$line-overlay: rgba(219, 233, 172, 0.5);
$flickity-button: #2c6957;
$flickity-button-icon: #ffffff;
$hero-button: #b5051b;
$button-hover-red: #8c0415;
$button-shadow: rgba(0, 0, 0, .8);
$dark-green-text: #005847;
$service-line: #808080;
$main-green: #44a935;
$grey: #808080;
$facebook-blue: #3B5998;
$baby-green: #c1dcb9;
$youtube-red: #bb0000;
$dark-green: #0c5847;
$light-grey:#f6f6f6;
$underline: #eeeeee;
$logo-color: #48aa43;
$button-shadow: rgba(0, 0, 0, .1);
$env-banner: #c9debf;
$env-dark-green: #3a9946;
$env-button: #F15D22;
$powerpulse-green: #d8f8bd;
$hero-shadow: 0px 0px 12px rgba(0,0,0,0.44);
